body {
  /* background-color: #88C3C9; */
  /* background-color: rgb(84 105 212); */
  /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
  /* background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%); */
  margin: 0;
}

.popup {
  /* background-color: rgb(41 57 31); */
  /* background-color: #98a2c0; */
  /* background-color: #edeff4; */
  width: 300px;
  height: 600%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
  margin: 0;
  box-sizing: border-box;

  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.option-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  /* background-color: rgb(84, 105, 212);
  border-radius: 5px;
  width: 200px;
  padding: 5px 0; */
}

.custom-label {
  color: #5868cd;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ccc; */
  background-color: #ed3b3b;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  /* background-color: rgb(84 105 212); */
  background-color: rgb(90, 229, 62);
}

input:focus+.slider {
  /* box-shadow: 0 0 1px rgb(84 105 212); */
  background-color: 0 0 1px rgb(90, 229, 62);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* BUTTONS */
.popup-button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgb(84, 105, 212);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  width: 200px;
  transition: background-color .24s, box-shadow .24s;
  text-decoration: none;
}

.popup-button:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  background-color: rgb(97, 120, 235);
}